:root {
    --color1: #003C43;
    --color2: #135D66;
    --color3: #77B0AA;
    --color4: #E3FEF7;
    --nuetral: #dbdbdb;
    --nuetral2: #252525;
}

body {
    background-color: var(--color1);
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    width: 100%;
    background-color: var(--color3);
    & .brand {
        color: var(--color4);
    }
}